fastapi
uvicorn
python-dotenv
google-generativeai
google
langgraph
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
sqlalchemy
pgvector
psycopg2-binary
pytest
finance-datareader
bs4
openai